body{
background:#0f172a;
color:white;
font-family:Arial;
text-align:center;
margin:0;
padding:0;
}

h1{
padding-top:40px;
font-size:50px;
}

p{
font-size:22px;
}

.box{
display:flex;
justify-content:center;
gap:30px;
margin-top:60px;
flex-wrap:wrap;
}

.card{
background:#2563eb;
padding:40px;
border-radius:20px;
text-decoration:none;
color:white;
font-size:30px;
width:220px;
transition:0.3s;
}

.card:hover{
transform:scale(1.05);
background:#1d4ed8;
}
